# Seguro médico

## Objetivo

## Ejecución

### Imports

In [2]:
import sys;
assert sys.version_info >= (3, 5);
import sklearn;
assert sklearn.__version__ >= "0.20";
import numpy as np;
import os;
import matplotlib as mpl;
import matplotlib.pyplot as plt;
import pandas as pd;
import seaborn as sns;
from scipy import stats;
from scipy.stats import norm;

### Datos

#### Carga de datos

In [4]:
df = pd.read_csv(filepath_or_buffer="dataset/insurance.csv")
df.head()

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

#### Exploración de datos

### Modelos

#### Linear Regression

#### Vector Support Machine

#### Random Forest

#### Gradient Boosting

#### XGBoost